# {{ansible_managed}}
VG="{{docker_storage_vg}}"
STORAGE_DRIVER=overlay2
CONTAINER_ROOT_LV_NAME={{docker_storage_lv}}
CONTAINER_ROOT_LV_SIZE=100%FREE
CONTAINER_ROOT_LV_MOUNT_PATH={{docker_storage_dir}}
